@import "tailwindcss";

:root {
  --primary-color: #10b981;
  --background: #f8fafc;
  --primary-text: #0f172a;
  --in-stock: #22c55e;
  --low-stock: #f59e0b;
  --out-of-stock: #ef4444;
  --in-progress: #3b82f6;
  --card-background: #ffffff;
  --border-color: #e2e8f0;
  --muted-color: #64748b;
  --font-inter-family: "Inter", sans-serif;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-background: var(--background);
  --color-out-of-stock: var(--out-of-stock);
  --color-in-stock: var(--in-stock);
  --color-low-stock: var(--low-stock);
  --color-in-progress: var(--in-progress);
  --color-card-background: var(--card-background);
  --color-border: var(--border-color);
  --color-muted: var(--muted-color);
  --color-primary-text: var(--primary-text);
  --font-inter: var(--font-inter-family);
}

body {
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  input[type="password"] ::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    -webkit-appearance: none;
  }
}
